<div id="indumentaria-form">
    <form role="form"  method="POST" class="form-horizontal">
    <div class="form-group">
	<label for="denominacion "class="col-sm-2 control-label">Tipo Prenda:</label>
	<div clas="col-sm-10">
	    <input type="text" name="denominacion" id="denominacion" class="form-control" placeholder="Tipo de prenda" />
	</div>
    </div>
    <div class="form-group">
	<label  class="col-sm-2 control-label" for="precio">Precio: </label> 
	<div clas="col-sm-10">
		<input type="number" name="precio" id="precio" class="form-control" placeholder="Precio"/>
	</div>
    </div>
    <div class="form-group">
	<label  class="col-sm-2 control-label" for="talla">talla: </label>
	<div clas="col-sm-10">
	    <input type="text" name="talla" id="talla" class="form-control" placeholder="Talla" />
	</div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Enviar</button>
      </div>
    </div>
    </form>
</div>
